<h2>Libros disponibles</h2>
<input type="text" [(ngModel)]="textoBuscado" placeholder="Buscar libro..." >
<p>Buscando: {{textoBuscado}}</p> 
<ul>
  <li *ngFor="let libro of libros" (click)="onSeleccionarLibro(libro)"  >
    <strong>{{ libro.titulo | uppercase}}</strong> - {{ libro.autor }} ({{ libro.anio }})
    - Publicado: {{ libro.fechaPublicacion | date:'longDate' }}
  </li>
</ul>

<button [disabled]="!libroSeleccionado" (click)="onVerDetalle()">Ver detalle</button>

<app-libro-detalle *ngIf="libroSeleccionado" [libro]="libroSeleccionado"></app-libro-detalle>
