<div *ngIf="libro else noLibro">
    <h3>Detalles del libro</h3>
    <img [src] = "libro.imagenUrl ? libro.imagenUrl : 'sin_imagen.png'" width="100px">    
    <p><strong>{{libro.titulo|uppercase}}</strong></p>
    <p>Autor: {{libro.autor}}</p>
    <p>Año: {{libro.anio}}</p>
    <p>Publicado: {{libro.fechaPublicacion | date:'longDate'}}</p>
    <!-- Mostrar descripción solo si existe -->
    <p *ngIf="libro.descripcion">Descripción: {{libro.descripcion}}</p>
    <!-- Botones de editar y eliminar solo si el usuario está autenticado -->
    <ng-container *ngIf=" (authServicio.estadoAuth$ | async) && authServicio.esPropietario(libro.propietarioId!) ">
        <button (click)='editar(libro.id!)'>Editar</button>
        <button (click)='eliminar(libro.id!)'>Eliminar</button>
    </ng-container>
</div>

<ng-template #noLibro>
    <p>Cargando...</p>
</ng-template>