<div *ngIf="libro else noLibro">
    <h3>Detalles del libro</h3>
    <p><strong>{{libro.titulo|uppercase}}</strong></p>
    <p>Autor: {{libro.autor}}</p>
    <p>Año: {{libro.anio}}</p>
    <p>Publicado: {{libro.fechaPublicacion | date:'longDate'}}</p>

    <ng-container *ngIf="authServicio.estadoAuth$ | async">
        <button (click)='editar(libro.id)'>Editar</button>
        <button (click)='eliminar(libro.id)'>Eliminar</button>
    </ng-container>

</div>

<ng-template #noLibro>
    <p>Cargando...</p>
</ng-template>