@if (libro) {
<div>
    <h3>Detalles del libro</h3>
    <img [src]="libro.imagenUrl ? libro.imagenUrl : 'sin_imagen.png'" width="100px">
    <p><strong>{{libro.titulo|uppercase}}</strong></p>
    <p>Autor: {{libro.autor}}</p>
    <p>Año: {{libro.anio}}</p>
    <p>Publicado: {{libro.fechaPublicacion | date:'longDate'}}</p>
    <!-- Mostr|ar descripción solo si existe -->
    @if (libro.descripcion) {
    <p>Descripción: {{libro.descripcion}}</p>
    }
    <!-- Botones de editar y eliminar solo si el usuario está autenticado -->
    @if ((authServicio.estadoAuth$ | async) && authServicio.esPropietario(libro.propietarioId!)) {
    <button (click)='editar(id!)'>Editar</button>
    <button (click)='eliminar(id!)'>Eliminar</button>
    }
</div>
} @else {
<p>Cargando...</p>
}